* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f3f3f3;
    /* 开启透视效果 */
    /* perspective: 8000px; */

}

#container {
    height: 100%;
    display: flex;
    justify-content: center;
    border-radius: 30px;
    overflow: hidden;
}

section {
    width: 450px;
    height: 300px;
    position: relative;
    transform-style: preserve-3d;
    animation: rotate 900s linear infinite;

}

section:nth-child(2) {
    animation: rotate2 900s linear infinite;
}

section div {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(./image/1.jpeg);
    background-size: cover;
}


@keyframes rotate {
    0% {
        transform: rotateX(0deg);
    }

    100% {
        transform: rotateX(360deg);
    }
}

@keyframes rotate2 {
    0% {
        transform: rotateX(0deg);
    }

    100% {
        transform: rotateX(-360deg);
    }
}