@font-face {
  font-family: "iconfont"; /* Project id 3577528 */
  src: url('iconfont.woff2?t=1661536843053') format('woff2'),
       url('iconfont.woff?t=1661536843053') format('woff'),
       url('iconfont.ttf?t=1661536843053') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chenggongbiaoqing:before {
  content: "\e631";
}

.icon-wukongbiaoqing:before {
  content: "\e639";
}

.icon-jilu:before {
  content: "\e810";
}

.icon-yuedu:before {
  content: "\e811";
}

.icon-fenlei:before {
  content: "\e812";
}

.icon-shezhi:before {
  content: "\e817";
}

.icon-shouye:before {
  content: "\e818";
}

.icon-wode:before {
  content: "\e819";
}

.icon-arrow-left-bold:before {
  content: "\e685";
}

.icon-arrow-right:before {
  content: "\e665";
}

